@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
    /*검정*/
  /*--foreground: #131313;*/

    /*빨강*/
  /*--foreground: #ff0000;*/

    /*주황*/
  /*--foreground: #ff6a00;*/

    /*초록*/
  --foreground: #1fad00;

    /*파랑*/
  /*--foreground: #003eff;*/

    /*보라*/
    /*--foreground: #b700ff;*/

    /*분홍*/
    /*--foreground: #ff60cd;*/
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: normal;
    white-space: pre-wrap;
}

html,
body {
    height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

input,
button,
select {
    outline: none;
}

input:not([type=color]),
button,
textarea,
select {
    border-radius: 0;
}

button,
input[type=button],
input[type=submit],
input[type=reset] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.swiper,
.swiper-slide {
    height: 100%;
}

textarea {
    resize: none;
}

.react-datepicker-wrapper {
    width: 100%;
}

@layer components {
    .btn {
        @apply font-jejugothic w-full py-4 text-sm block rounded-full border border-foreground text-foreground transition-colors hover:bg-foreground hover:text-white;
    }

    .primary-btn {
        @apply btn bg-[#ff0000] text-white;
    }
}