@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  /*--foreground: #171717;*/
  /*--foreground: #ff0000;*/
  --foreground: #1fad00;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

html,
body {
    height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

input,
button {
    outline: none;
}

.swiper,
.swiper-slide {
    height: 100%;
}

textarea {
    resize: none;
}

@layer components {
    .btn {
        @apply font-jejugothic w-full py-4 text-sm block rounded-full border border-foreground text-foreground transition-colors hover:bg-foreground hover:text-white;
    }

    .primary-btn {
        @apply btn bg-[#ff0000] text-white;
    }
}